@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --orange: rgba(255, 191, 71, 0.9);
  --green: #628395;
  --purple: rgba(139, 95, 191, 0.9);
  --red: #db504a;
  --white-grey: #b3b3b3;
  height: 100%;
}
body {
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 1.8;
  display: flex;
  height: 100;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}
a {
  text-decoration: none;
}
/* Shared Navbar Styling */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  color: var(--purple);
}
.logo {
  width: calc(4vw + 4vh);
  height: calc(4vw + 4vh);
  background: url('./images/personal.png') no-repeat center/cover;
}

.nav-links {
  display: flex;
  align-items: center;
  color: var(--purple);
}
.link,
.link-active {
  margin-right: 4rem;
  font-size: 1.2rem;
  position: relative;
  text-decoration: none;
}

.link::before,
.link-active::before,
.link::after,
.link-active::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: white;

  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

.link::before,
.link-active::before {
  top: 0;
  transform-origin: left;
}
.link::after,
.link-active::after {
  bottom: 0;
  transform-origin: right;
}

.link-active {
  color: var(--orange);
}

.link:hover::before,
.link-active:hover::before,
.link:hover::after,
.link-active:hover::after {
  transform: scaleX(1);
}

/* aside bar styling */

aside {
  height: calc(100vh - 4vw - 4vh);
  width: calc(4vw + 4vh);
  background-color: var(--red);
}
aside ul {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
aside ul a {
  font-size: 2rem;
  color: white;
}
aside ul a:hover {
  transition: color 0.8s cubic-bezier(1, 0, 0, 1);
  color: var(--orange);
}

/* Main Part of Home Page Styling With Animation For Personal Card */

.main {
  display: flex;
  background: url('./images/main-image.jpg') no-repeat center/cover;
}

.main-page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-page {
  background-color: var(--orange);
  padding: 1rem;
  height: calc(6rem + 20vmax);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: main-hero 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes main-hero {
  0% {
    transform: translateX(100rem) rotateZ(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.main-page-title {
  font-size: calc(2rem + 3vw);
  color: white;
}
.main-page-para {
  font-size: calc(1rem + 1.5vw);
  color: white;
}
.main-page-link:link,
.main-page-link:visited {
  padding: 0.7rem 0rem;
  transition: all 0.5s ease-in-out;
  width: 9rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;

  z-index: 1;
}

.main-page-link:link::after,
.main-page-link:visited::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--green);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}

.main-page-link:hover::after,
.main-page-link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Contact Page Styling */

#contact {
  height: calc(100vh - 4vh - 4vw);
  background: url('./images/main-image.jpg') no-repeat center/cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.contact-form {
  flex-basis: 40rem;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
}
.contact-form input,
.contact-form textarea {
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  background: transparent;
  border: none;
  border-bottom: 0.2rem solid var(--orange);
}
.contact-form textarea {
  height: 30vh;
}
input[type='submit'] {
  border: none;
  cursor: pointer;
}
input:focus,
textarea:focus {
  outline: none;
}
::placeholder {
  color: var(--white-grey);
}

/* About Me Page Styling */

#about-me {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: var(--orange) !important;
  min-height: calc(100vh - 4vh - 4vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me__content {
  height: 100%;
  width: 45vw;
  padding: 1rem;
}

.about-me-title {
  font-size: 2rem;
  padding: 0.2rem 0;
  position: relative;
}

.about-me__img img {
  height: calc(100vh - 4vw - 4vh);
  width: 45vw;
  padding: 1rem;
}

.about-me-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 10%;
  background-color: var(--green);
}

.about-me-title,
.about-me-para {
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}

/* Projects Page Styling */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-title {
  margin: 1rem 0 2rem 0;
}

/* Card On Project Page Styling */

.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.7s;
  animation: ease-in;
  margin-bottom: 0.2rem;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.img-container {
  height: 180px;
  width: 300px;
  background: url('./projects/prjImgs/testAnalizatorImg.jpg') no-repeat
    center/cover fixed;
  overflow: hidden;
}

.card-title {
  margin-bottom: 0.5rem;
  text-align: center;
}
.card-description p {
  padding-inline: 1rem;
}

.card-link {
  margin: 1rem 0;
  text-align: center;
}
.anc-card {
  text-transform: initial !important;
  font-size: medium !important;
  color: black;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.anc-card:hover::after,
.anc-card:active::after {
  transform: scaleY(1);
  transform-origin: top;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 1.5rem;
}

/* Error Page Styling */

.error-page {
  height: calc(100vh - 4vw - 4vh);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error-page p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  .nav-links {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--green);
    text-align: center;
  }
  .clicked {
    left: 55%;
  }
  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }
  .nav-hamburger {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--green);
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .line {
    width: 100%;
    height: 0.3rem;

    background-color: white;
    transition: all 0.4s ease-in-out;
  }
  .nav-links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .link,
  .link-active {
    margin-bottom: 4vh;
    margin-left: 4vh;
    opacity: 0;
  }
  .nav-links a:nth-of-type(1) {
    transition: all 0.5s ease-in-out 0.1s;
  }
  .nav-links a:nth-of-type(2) {
    transition: all 0.5s ease-in-out 0.3s;
  }
  .nav-links a:nth-of-type(3) {
    transition: all 0.5s ease-in-out 0.5s;
  }
  .nav-links a:nth-of-type(4) {
    transition: all 0.5s ease-in-out 0.7s;
  }
  .fade {
    opacity: 1;
  }
  #about-me {
    flex-direction: column;
    padding-left: 1rem;
  }
  .about-me__img {
    display: none;
  }
  .about-me__content {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .projects {
    margin-left: 2rem;
    align-items: flex-start;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
